@import "~variables.scss";

.navigation-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1.5em;
    height: 100%;
    cursor: pointer;
    &:hover {
        color: $dark-gray;
        border-bottom: 5px solid $gray;
    }
    &:visited {
        color: $gray;
    }
}