@import "~variables.scss";

:host {
    height: 100%;
}

.navigation-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1.5em;
    height: 100%;
    cursor: pointer;
    color: $gray;
    &:hover {
        color: $dark-gray;
        border-bottom: 3px solid $light-gray;
    }
    &:visited {
        color: $gray;
    }
}