$almost-white: #f5f7f8;
$lighter-gray: #ecf0f1;
$light-gray: #867F7F;
$gray: #60646D;
$dark-gray: #303030;
$teal-background: #f1fdfe;
$light-teal: #b2e0d2;
$teal: #73f2fc;
$dark-teal: #50a9b0;
$background-main-color: #f9fefe;
$light-main-color: #b2e0d2;
$main-color:#73f2fc;
$dark-main-color: #50a9b0;